<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'parent.html' %}
{% block title %}Заказы{% endblock %}
{% block body %}
    <ul>
        {% for order in orders %}
            {% include 'order_element.html' with element=order %}
            {# <li><a href="{% url 'order_url' order.id %}">{{ order.title }}</a></li> s#}
        {% empty %}
            <li>пустой список</li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>