<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .regForm{
            padding-top: 40px;
            padding-left: 250px;
            padding-right: 250px;
        }
        label{
            margin: 0;
        }
        .form-group{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="regForm">
    <h1>Регистрация</h1>
    <form method="POST">
       {% csrf_token %}
        <div class="form-group">
           <label>
               Логин
               <input type="text" minlength="5" class="form-control" name="login">
           </label>
        </div>
        <div class="form-group">
           <label>
               Имя
               <input type="text" minlength="1" class="form-control" name="first_name">
           </label>
        </div>
        <div class="form-group">
           <label>
               Фамилия
               <input type="text" minlength="1" class="form-control" name="last_name">
           </label>
        </div>
        <div class="form-group">
           <label>
               Адрес электоронгной почты
               <input type="email" class="form-control" name="email">
           </label>
        </div>
        <div class="form-group">
           <label>
               Пароль
               <input type="password" minlength="8" class="form-control" name="password">
           </label>
        </div>
        <div class="form-group">
           <label>
               Повторите ввод пароля
               <input type="password" class="form-control" name="password2">
           </label>
        </div>
       <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>
</div>
</body>
</html>